<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<!--Общие параметры системы:
		@nodecount число узлов в системе
		@length длина цепочки
		@mass масса всей цепочки
		@width толщина цепочки; используется только при визуализации -->
	<system nodecount="10" length="5.0" mass="1.0" width="0.1" />

	<!--Параметры сопротивления среды:
		@viscosity вязкость среды -->
	<resistance viscosity="0.1" />

	<!--Параметры продольных пружин:
		@stiffness жесткость пружины -->
	<linearspring stiffness="35.0" />    

	<!--Параметры продольных пружин:
		@stiffness жесткость пружины -->
	<torsionspring stiffness="35.0" />

	<!--Параметры прикладываемой силы:
		@value модуль силы-->
	<force value="5.0">
		<!--
			x,y,z задают ось, вокруг которой будет осуществлятся загиб цепочки.	Это необходимо для того,
			чтобы сила была всегда перпендикулярно направлена по отношению к концу цепочки ("Bending Force") -->
		<axis x="0.0" y="0.0" z="1.0" />
	</force>
</settings>